<?xml version="1.0"?>

<configuration>
    <appSettings>
        <add key="webpages:Enabled" value="true" />
    </appSettings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
    <system.webServer>
      <security>
         <requestFiltering>
            <fileExtensions>
               <add fileExtension=".cshtml" allowed="true" />
            </fileExtensions>
         </requestFiltering>
      </security>
    <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>
</configuration>
